.PracticeNew {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #E4E7F4, #FBFBFD);
  }

.filter-wrapper {
  border: none;
  width: 40%;
  margin-left: 2.5%;
}

.filter {
  margin-right: 10px;
  width: 30%;
  color: rgb(45, 45, 185);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.create-header{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.create-title-wrapper{
  flex: 2;
  font-weight: 600;
  font-size: 20px;
}

.create-button{
  flex: 1;
  margin-left: 80%;
  margin-top: -2%;
  border-radius: 10px; /* Adjust as necessary for desired roundness */
  padding: 3px 2px; /* Adjust padding as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;  
  font-weight: bold;
  text-align: top;
  height: 20%;
}

.create-button:hover {
  background-color: #557AFF; 
}
  .content-section {
    display: flex;
    height: calc(100vh - 100px);
    margin: 20px;
    box-sizing: border-box;
  }

  .right-sub-wrapper{
    margin-left: 20px;
    font-size: 16.5px;
    font-weight: 100;
    height: 5%;
  }
  
  .right-title-wrapper{
    border: none;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 500;
    height: 5.5%
  }

  .left-section {
    flex: 0.5;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
  }
  
  .right-container {
    flex: 3;
    width: 77.5%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .create-section {
    order: 1;
    padding: 20px;
    flex: 3;
    padding: 20px;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
    overflow: scroll;
  }
  
  .right-section {
    order: 2;
    flex: 5;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
  }  
  
  .menu-button {
    display: block;
    margin-bottom: 10px;
  }
  
  .column-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    flex-grow: 1;
  }
  
  .question-button {
    border: none;
    border-radius: 5px;
    width: 31%;
    white-space: normal;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.1;
    padding-left: 3%;
    margin-top: 1%;
    margin-bottom: -1%;
    word-wrap: break-word;
  }

  .question-type-behavioral {
    white-space: nowrap; 
    margin-top: 0.3%;         /* Space between the question text and the type */
    background-color: rgba(93, 202, 126, 0.1);
    color: white;            /* White text */
    padding: 3px 6px;        /* Some padding for the type label */
    border-radius: 4px;      /* Rounded corners for the type label */
    align-self: flex-start;  /* Align to the start of the flex container */
    color: #5dca7e;
    font-size: 15px;
  }
  
  .question-type-technical {
    white-space: nowrap; 
    margin-top: 0.3%;         /* Space between the question text and the type */
    background-color: rgba(118, 26, 210, 0.1);;
    color: white;            /* White text */
    padding: 2px 4px;        /* Some padding for the type label */
    border-radius: 4px;      /* Rounded corners for the type label */
    align-self: flex-start;  /* Align to the start of the flex container */
    color: #761ad2;
    font-size: 15px;
  }
  
  .question-type-product-design {
    white-space: nowrap; 
    margin-top: 0.3%;         /* Space between the question text and the type */
    background-color: rgba(118, 26, 210, 0.1);;
    color: white;            /* White text */
    padding: 3px 6px;        /* Some padding for the type label */
    border-radius: 4px;      /* Rounded corners for the type label */
    align-self: flex-start;  /* Align to the start of the flex container */
    color: #dfc519;
    font-size: 15px;
  }
  
  .question-type-product-strategy {
    white-space: nowrap; 
    margin-top: 0.3%;         /* Space between the question text and the type */
    background-color: rgba(118, 26, 210, 0.1);;
    color: white;            /* White text */
    padding: 3px 6px;        /* Some padding for the type label */
    border-radius: 4px;      /* Rounded corners for the type label */
    align-self: flex-start;  /* Align to the start of the flex container */
    color: #2e19f0;
    font-size: 15px;
  }
  
  .question-type-analytical {
    margin-top: 0.3%;         /* Space between the question text and the type */
    background-color: rgba(118, 26, 210, 0.1);;
    color: white;            /* White text */
    padding: 3px 6px;        /* Some padding for the type label */
    border-radius: 4px;      /* Rounded corners for the type label */
    align-self: flex-start;  /* Align to the start of the flex container */
    color: #de751e;
    font-size: 15px;
  }
  
  .question-type-default {
    margin-top: 0.3%;         /* Space between the question text and the type */
    background-color: rgba(118, 26, 210, 0.1);;
    color: white;            /* White text */
    padding: 3px 6px;        /* Some padding for the type label */
    border-radius: 4px;      /* Rounded corners for the type label */
    align-self: flex-start;  /* Align to the start of the flex container */
    color: #d81919;
    font-size: 15px;
  }
  
  .title-wrapper {
    padding: 0 5px; /* Same horizontal padding as the column */
    margin-top: -2%;
  }

  .rounded-button {
    border: none;
    border-radius: 10px; /* Adjust as necessary for desired roundness */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8);
    width: 200px;
}

.rounded-button:hover {
  background-color: #557AFF; 
}

.new-rounded-button {
    border: none;
    border-radius: 10px; /* Adjust as necessary for desired roundness */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    background-color: #557AFF;
    width: 200px;
}

.company{
  white-space: nowrap; 
  margin-left: 10px;
  margin-top: 5px;         /* Space between the question text and the type */
  padding: 3px 6px;        /* Some padding for the type label */
  border-radius: 4px;      /* Rounded corners for the type label */
  align-self: flex-start;  /* Align to the start of the flex container */
  color: #090404;
  font-size: 15px;
  background-color: rgba(224, 224, 235, 0.826);
}
